B2_APPLICATION_KEY_ID='<your-backblaze-b2-application-key-id>'
B2_APPLICATION_KEY='<your-backblaze-b2-application-key>'
B2_BUCKET_NAME='<your-backblaze-b2-bucket-name>'
B2_REGION='<your-backblaze-b2-bucket-region>'
B2_PUBLIC_URL_BASE='https://<your-download-host>/file/<your-backblaze-b2-bucket-name>'
